body {
    margin: 0;
    background-color: #1f1e1e;
    color: #cecece;
    font-size: 12pt;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

.container {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 2vh;
    background-color: #cecece;
    color: #1f1e1e;
}

.upload-form {
    border-radius: 8px;
    border-style: inset;
    padding: 0.4em;
}

.file-input {
    background-color: #c0c2c0;
    min-height: 240px;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 62vw;
    color: #cecece;
}

.form-control-file {
    display: none;
}

input {
    background-color: #1f1e1e;
    color: #cecece;
}

#choose-file {
    border: 1px inset;
    border-color: #1f1e1e;
    border-radius: 1px;
    padding: 0.4em;
}

.thumb {
    max-height: 240px;
    flex-grow: 1;
}

.thumb-container {
    padding: 0.4em;
}

.hidden {
    display: none;
}